@font-face {
  font-display: block;
  font-family: Mori;
  font-style: normal;
  font-weight: 900;
  src: url(https://assets.codepen.io/16327/PPMori-SemiBold.woff) format("woff");
}


.split {
  opacity: 0;
  color: rgb(14, 16, 15);
  will-change: transform;
  color: #0e100f;
}

.split * {
  will-change: transform;
}
